<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klw.oa.dao.MyfileMapper">
  <resultMap id="BaseResultMap" type="com.klw.oa.entity.Myfile">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_desc" jdbcType="VARCHAR" property="fileDesc" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <association column="user_id" property="user" javaType="com.klw.oa.entity.User" select="com.klw.oa.dao.UserMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List">
    file_id, file_name, file_desc, real_name, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from myfile
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <!--根据用户id获取files-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from myfile
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myfile
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.klw.oa.entity.Myfile">
    insert into myfile (file_id, file_name, file_desc, 
      real_name, user_id)
    values (#{fileId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileDesc,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{user.userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.klw.oa.entity.Myfile">
    insert into myfile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileDesc != null">
        file_desc,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="user != null and user.userId != null">
        user.user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null">
        #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="user != null and user.userId != null">
        #{user.userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.klw.oa.entity.Myfile">
    update myfile
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null">
        file_desc = #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="user != null and user.userId != null">
        user_id = #{user.userId,jdbcType=INTEGER},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.klw.oa.entity.Myfile">
    update myfile
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_desc = #{fileDesc,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      user_id = #{user.userId,jdbcType=INTEGER}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>